<.flash_group flash={@flash} />

<div class="min-h-screen flex items-center justify-center">
  <div class="text-center px-4">
    <h1 class="text-5xl md:text-6xl font-bold text-secondary mb-4">
       🪬STOP MY HAND
    </h1>
    <p class="text-xl md:text-2xl text-light max-w-2xl mx-auto">
      A web version of the "Scarttegories" game.
    </p>
  </div>
</div>
